/* todo documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fundo e cor das letras */
body {
  /* background-image: url("./assets/bg.png"); */
  background-color: #09090a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* height: 100vh; */
}

header {
  /* alinhamento do logo e botão */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* adiciona o espaço em todas as 4 direçoes */
  padding: 48px;

  /* mantem o cabeçalho sempre fixo se estendendo por todo site */
  position: fixed;
  width: 100%;
  /* background-color: #09090a; */
}

button {
  /* design do botão*/
  padding: 16px 24px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #8b5cf6;
  border-radius: 8px;

  /* alinhamento dos itens */
  display: flex;
  align-items: center;
  gap: 12px;

  /* config da fonte */
  font-family: "Inter";
  weight: 600;
  font-size: 16px;
  line-height: 125%;
}

/* id do formulario */
#form-habits {
  display: flex;
  padding: 182px 48px 48px;
  width: fit-content;
}

/* classe do posicionamento dos habitos */
.habits {
  margin-top: 49px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

/* classe do design dos habitos */
.habit {
  /* div do icone*/
  width: 64px;
  height: 64px;

  /* tamanho do icone */
  font-size: 32px;

  /* posição dentro da div */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* posição das checkboxes */
.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

/* posição da data */
.day {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

/* design da data */
.day div {
  margin-botton: 8px;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa;

  text-align: center;
}

/* design checkbox */
input {
  /* anula o design padrão dado pelo navegador */
  appearance: none;
  -webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}
/* design da checkbox marcada */
/* pseudo-selector */
input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

/* responsividade - tira o texto do botao em dispositivos com menos de 570px */
@media (max-width: 570px) {
  button div {
    display: none;
  }
}
